.inp{
    font-size: xx-large;
    width: 50vw;
    padding: 3vh;
    margin: 3vh;
}
.calculateBox{
    margin: 5vh;
    border: 2px solid rgb(248, 185, 68);
    border-radius: 15px;
}
.selectInput{
    border: none;
    margin: 1vh;
    padding: 1.5vh;
}
h3{
    margin-left: 5vh;
    letter-spacing: 2px;
}
.out{
    border: 1px solid black;
    font-size: xx-large;
    width: 25vw;
    padding: 3vh;
    margin: 3vh;
}
.btn{
    margin: 2vh 1.6vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 7px;
    background: orange;
}
h6{
    display: inline;  
}
